{{!-- horizontal Welcome page card for logged in users --}}
{{#if loggedIn}}
<section>
  <p>hi you are logged in</p>
</section>
{{else}}
{{!-- horizontal Welcome page card for logged out users --}}
<section>
  <div class="card border-warning mb-3" style="max-width: 540px;">
    <div class="row g-0">
      {{!-- welcome card text --}}
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Join Hey Boo-Boo with Your Friends</h5>
          <p class="card-text">Looking for the perfect picnic? Hey Boo-Boo, give us a hand! Our Boo-Boo app is designed to make planning get-togethers quick, easy, and stress-free.</p>
          <div class="app-feature-list">
            <p class="card-text">With our app, you can:</p>
            <ul role="list">
              {{!-- <li data-icon="ðŸŒ²">Find the best picnic spots in your area: Our app will show you the top picnic spots near you, complete with reviews, photos, and detailed information about the park or location.</li> --}}
              {{!-- <li>Create a picnic checklist: Our app will help you plan your picnic by providing you with a customizable checklist of everything you need, from blankets and utensils to food and drinks.</li> --}}
              {{!-- <li data-icon="ðŸŽ">Choose your menu: Our app features a variety of recipes for picnic-friendly foods, including sandwiches, salads, snacks, and desserts. You can browse our recipes, save your favorites, and even create a shopping list.</li> --}}
              <li data-icon="ðŸŽ">View your menu: Our app features dishes everyone will bring so you can plan ahead!</li>
              <li data-icon="ðŸ»">Invite friends: Our app makes it easy to invite friends and family to your picnic. Simply send them an invitation through the app and they'll receive all the details they need to join you.</li>
              {{!-- <li data-icon="ðŸŒ¸">Share photos: After your picnic, you can share photos of your experience with friends and family through our app.</li> --}}
            </ul>
          </div>
          <p>So why wait? Sign up with Hey Boo-Boo today and start planning your perfect picnic!</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div>
      </div>
      {{!-- welcome card image --}}
      <div class="col-md-4">
        <img src="/assets/picnic cards (vertical)/2020 - Kin Li (Unsplash).jpg" class="img-fluid rounded-start" alt="picnic blanket in the daylinght on the grass with a basket, wicker hat, some bottled drinks and a book lying on the blanket next to a blackboard chalk 'Welcome' sign and some candle lanterns">
      </div>
    </div>
  </div>
</section>
{{/if}}