<section class="p-4">
    <h3 class="text-center" id="join-friends">Join Friends!</h3>
</section>
<section class="m-3 d-flex justify-content-center">
    <div class="row">
        {{!-- users can create a new picnic --}}
        <div class="create-new-picnic col-sm-6 mb-3 mb-sm-0">
            <div class="create-card card border-0">
                <div class="card-body row">
                    <h4 class="card-title text-center">Create a new picnic</h4>
                    <form class="create-picnic-form m-2 ms-4 col" id="{{userId}}">
                        <div class="host">
                            <p>Host: {{firstName}} {{lastName}}!</p>
                        </div>
                        <div class="name">
                            <label for="new-picnic-name">Event:</label>
                            <input id="new-picnic-name" type="text" placeholder="Name Your Picnic">
                        </div>
                        {{!-- google-aided autocomplete address field --}}
                        <div id="pac-container">
                            <label for="new-picnic-address">Place:</label>
                            <input id="new-picnic-address" type="text" placeholder="Enter an address" />
                        </div>
                        <div class="date-time">
                            <label for="new-picnic-time">Time:</label>
                            <input id="new-picnic-time" type="datetime-local" placeholder="Start Time">
                        </div>
                        {{!-- <div class="phone-number">
                            <label for="new-picnic-phone">Receive secure sign up code:</label>
                            <input id="new-picnic-phone" type="tel" placeholder="SMS +15556667777">
                        </div> --}}
                        <div class="password">
                            <label for="new-picnic-password">Set password:</label>
                            <input id="new-picnic-password" type="password" placeholder="8+ characters">
                        </div>
                        <div class="password-check">
                            <label for="new-picnic-password-check">Verify password:</label>
                            <input id="new-picnic-password-check" type="password" placeholder="must match">
                        </div>
                        <button type="button" class="create-picnic create-picnic-btn btn btn-primary border-0">Get Cookin'</button>
                    </form>
                </div>
            </div>
        </div>
        {{!-- users can join an existing picnic --}}
        <div class="join-new-picnic col-sm-6">
            <div class="join-card card border-0">
                <div class="card-body">
                    <h4 class="card-title text-center">Join someone's picnic</h4>
                    <form class="join-picnic-form" >
                        <div class="picnic-code">
                            <label for="join-picnic-code">Event code:</label>
                            <input id="join-picnic-code" type="text" placeholder="36+ characters">
                        </div>
                        <div class="password">
                            <label for="join-picnic-password">Password from Host:</label>
                            <input id="join-picnic-password" type="text" placeholder="must match">
                        </div>
                        <button type="button" class="join-picnic join-picnic-btn btn btn-primary border-0">See my friends</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<script src='/js/newPicnic.js'></script>
{{!-- Google Maps autocomplete --}}
{{!-- <script id="google" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC_lzFaPkQ0D4hUMzWih5DZ19d0HMv9Lf0&libraries=places&callback=initAutocomplete&solution_channel=GMP_QB_addressselection_v1_cA" defer></script>
<script src="/js/googleMap.js"></script> --}}