<div>
    {{home}}
    <div>PICNIC TITLE</div>
    <div> participants</div>
    <div>DATE:</div>
    <div>location:</div>
    
    <div>
        Food LIST
    </div>
    <div> ALLERGIES</div>

</div>

<script src= '/js/picnic.js'></script>