:root {
    /* Yogi Bear color palette */
    --dark-gold: #9A6A39;
    --caramel: #FFD38C;
    --eton-blue: #A3D29B;
    --rich-black: #000004;
    --begonia: #F46D74;
    /* available fonts */
    --hanna-barbera: 'Hanna-Barbera 1960 Font', sans-serif;
    --roboto-slab: 'Roboto Slab', serif;
    --oleo-script: 'Oleo Script', cursive;
    --rancho: 'Rancho', cursive;
}

/* ----- MAIN HANDLEBARS ----- */

body {
    background-color: var(--caramel);
    color: var(--rich-black);
    font-family: var(--roboto-slab);
    font-size: x-large;
    line-height: 120%;
    cursor: url('../assets/images/cursors/arrow-cursor-24x24.png'), auto;
}

nav {
    background-color: var(--dark-gold);
}

h1 {
    font-family: var(--hanna-barbera);
    font-weight: 500;
    color: var(--eton-blue);
    font-size: 2.2em;
    letter-spacing: 0.1em;
}

nav h2,
footer {
    font-family: var(--oleo-script);
    color: var(--begonia)
}

/* ----- HOME PAGE ----- */

#welcome-title-pitch h3 {
    font-family: var(--rancho);
}

#pitch-list {
    font-family: var(--roboto-slab);
    font-size: large;
}

.card {
    background-color: var(--begonia);
    font-family: var(--rancho);
    font-size: 120%;
}

#coming-soon {
    background-color: var(--dark-gold);
}

ul li::before {
    /* creates space between bullet point and list item */
    position: relative;
    left: -10px;
    /* sets bullet point to data-icon attribute instead of standard dot */
    content: attr(data-icon);
    /* Make slightly larger than the li font-size but smaller than the li gap */
    font-size: 1.25em;
    line-height: 2em;
}

hr {
    border: 1px dashed var(--dark-gold);
}

#coming-soon-list {
    font-family: var(--roboto-slab);
    font-size: medium;
}

/* ----- MY PICNICS DASHBOARD ----- */

.my-picnics {
    font-size: medium;
}

.picnic-card-img {
    height: 351px;
    object-fit: cover;
    filter: sepia(20%);
}

.picnic-id {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.picnic-id:hover {
    box-shadow: 0 4px 8px 0 var(--dark-gold), 0 6px 20px 0 var(--dark-gold);
}

.event-name {
    text-decoration: none;
    font-size: xx-large;
}

/* .event-name a:link,
.event-name a:visited,
.event-name a:hover,
.event-name a:active {
    text-decoration: none;
    color: green;
} */

a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
    cursor: url('../assets/images/cursors/bear-cursor-24x24.png'), auto;
}

.event-name a {
    color: var(--rich-black);
}

.login-photo {
    height: 100%;
    width: 100%;
    object-fit: cover
}