:root {
    /* Yogi Bear color palette */
    --dark-gold: #9A6A39;
    --caramel: #FFD38C;
    --eton-blue: #A3D29B;
    --rich-black: #000004;
    --begonia: #F46D74;
    /* available fonts */
    --hanna-barbera: 'Hanna-Barbera 1960 Font', sans-serif;
    --caveat-brush: 'Caveat Brush', cursive;
    --oleo-script: 'Oleo Script', cursive;
    --rancho: 'Rancho', cursive;
}

body {
    background-color: var(--caramel);
    color: var(--rich-black);
    font-family: var(--caveat-brush);
    font-size: x-large;
    line-height: 120%;
}

nav {
    /* font-family: 'Hanna-Barbera 1960 Font', sans-serif; */
    background-color: var(--dark-gold);
}

h1 {
    font-family: 'Hanna-Barbera 1960 Font', sans-serif;
    font-weight: 400;
    color: var(--eton-blue);
    font-size: 48px;
    letter-spacing: 0.1em;
}

ul li::before {
    /* creates space between bullet point and list item */
    position: relative;
    left: -10px;
    /* sets bullet point to data-icon attribute instead of standard dot */
    content: attr(data-icon);
    /* Make slightly larger than the li font-size but smaller than the li gap */
    font-size: 1.25em;
  }